* {
    box-shadow: border-box;
}

.grid div {
    /* order: 2; applie order to all items that don't have another order specified */
    background-color: aqua;
    border: solid .1em purple;
    padding: .5em;
    border-radius: .5em;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); s */
    /* Repeat Notation auto-fill is similar but may leave gaps by adding additional tracks */
    grid-column-gap: 5em;
    grid-gap: .2em;
    /* grid-template-rows: repeat(3, 100px);s */
    grid-auto-flow: row; 
    grid-auto-flow: dense; 
    /* Takes out source order and fills in gaps - CAN BE DANGEROUS */
}

.grid div:nth-child(1){
    grid-column: 1 / -1;
     grid-column-start: 1; 
     /* Using Start and End can be shorthanded just using grid-column */
    grid-column-end: -1; 
} 
 .grid div:nth-child(2){
    grid-column: 1;
    grid-row: 2;
    order: 1 
    /* applies the order to the specific element */
}

.grid div:nth-child(3){
    grid-column: 2 / 4;
    grid-row: 2; 
     /* order:  */
     /* 1 applies the order to the specific element  */
}

.grid div:nth-child(4){
    grid-column: 3 / span 2;
}

.span1 {
    grid-column-end: span 3;
}

.span2 {
    grid-column-end: span 2;
}
.span3 {
    grid-column-end: span 4;
}

#full {
    grid-row: 3;
    background-color: purple;
    grid-column: 1 / -1
}

#fullscreen {
    grid-row: 6;
    background-color: greenyellow;
    grid-column: 1 / 8;
} 

/* NAMING GRID LINES */

/* .grid {
    display: grid;
    grid-template-columns: [content-start] 1fr [content-end];
    grid-template-rows: auto [content-start] auto [content-end];
    grid-gap: 20px;
} */

@media (min-width: 640px){
    .grid {
        grid-template-columns: 1fr [content-start] 2fr [content-end]; 
    }
    header {
        grid-column: 1 / 3;
        background-color: blue;
    }
    
    aside {
        grid-column: 1 !important;
        grid-row: 2; 
        opacity: .7;
        background-color: purple;
    }
    footer {
        grid-column: 1 / 2;
        grid-row: 3;
        background-color: aqua;
    }
}



article {
    grid-column: content-start / 3;
    grid-row: content-start;
    background-color: hotpink;
}

header {
    grid-column: 1 / 3;
    background-color: blue;
}

aside {
    grid-column: 1 / 3;
    opacity: .7;
    background-color: purple;
}
footer {
     grid-column: 1 / 3;
     grid-row: 3; 
    background-color: aqua;
}

.test {
    grid-area: 2/ 4;
}


/* Aligning / Justifying items */

/* .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 10px;
    justify-items: stretch; /*possibile values: center, start, end, stretch(default) 
    align-items: stretch;
} */

/* .one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    align-self: stretch;
    justify-self: end;
}

.two {
    grid-column: 3;
    grid-row: 1 / 3;
}

.three {
    grid-column: 2 / 4;
    grid-row: 3; 
}

.four {
    grid-row: 2 / 4;
    grid-column: 1;
    opacity: .7;
} */

/* Justifying / Aligning the Grid */

/* .grid {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-auto-rows: 100px;
    grid-gap: 10px;
    width: 700px;
    height: 500px;
    border: solid #000 2px;
    justify-content: space-evenly; /* for the grid container (justify-content, align-content) - values: start, end, center, space-around, space-between; 
    align-content: space-between;
} */

/* .one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two {
    grid-column: 3;
    align-self: center;
}

.four {
    grid-column: 1;
    grid-row: 2 / 4;
    opacity: .7;
} */

/* Grid Template Areas */

/* .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "hd"
    "main"
    "sidebar"
    "ft";
}

@media (min-width: 640px){
    .grid{
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
        "sidebar hd"
        "sidebar main"
        "sidebar ft";
    }
}

header {
    grid-area: hd;
    background: blue;
}

article {
    grid-area: main;
    background: hotpink;
}
aside {
    grid-area: sidebar;
    background: green;
}

footer {
    grid-area: ft;
    background: aquamarine;
} */

/* Magic Lines and Magic Areas */
/* .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "hd"
    "main"
    "sidebar"
    "ft";
} */

/* @media (min-width: 640px){
    .grid{
        grid-template-columns: 2fr 4fr;
        grid-template-areas:
        "hd hd"
        "sidebar main"
        "sidebar ft";
    }
    .test {
        grid-row: hd-start / ft-start;
        grid-column: main-start;
    }

}

header {
    grid-area: hd;
    background: blue;
}

article {
    grid-area: main;
    background: hotpink;
}
aside {
    grid-area: sidebar;
    background: green;
}

footer {
    grid-area: ft;
    background: aquamarine;
} */
